In [4]:
a={
    "name":["dinesh","adhikari","pokhara"]
}

b=a["name"]
b[1]

'adhikari'

In [22]:
b = {
    "name":['sudan','bhandari']
}
a = [b,1,3,[1.5,77,1]]
c=a[0]

d=a[3][1]

print(f"{c["name"][0]} {c["name"][1]} {d}")

sudan bhandari 77

In [34]:
a = ['s','u','d','a',1]
print(f"{a[0]}{a[1]}{a[2]}{a[3]}{a[4]}")
# for i in a:
#     print(i)

suda1

In [3]:
b = {
    "name":['sudan','bhandari']
}
a = [b,1,3,[1.5,77,1]]
print(f"{b["name"][0]} {b["name"][1]} {a[3][2]}")

sudan bhandari 1

In [7]:
a = {
    "name":['sudan','bhandari']
}
a.clear()
a
# del(a)
# a

{}

In [16]:
a = {
    "name":['sudan','bhandari'],
    "age":22,
    "address":"pokhara"

}
# a.pop("address","name")
# a
a.popitem()

('address', 'pokhara')

In [18]:
a = {
    "name":['sudan','bhandari'],
    "age":22,
    "address":"pokhara"
}
b=a.copy()
b

{'name': ['sudan', 'bhandari'], 'age': 22, 'address': 'pokhara'}

In [19]:
a = {
    "name":['sudan','bhandari'],
    "age":22,
    "address":"pokhara"
}
b=dict(a)
b

{'name': ['sudan', 'bhandari'], 'age': 22, 'address': 'pokhara'}

In [29]:
a = {
    "name":'sudan',
    "age":22,
    "address":[{"city":"pokhara",
               "district":"kaski"
               },
               {"city":"kathmandu",
               "district":"kktm"
               },
               ]
}
print(f"{a["address"][0]["city"]}-{a["address"][0]["district"]}")
print(f"{a["address"][1]["city"]}-{a["address"][1]["district"]}")

pokhara-kaski
kathmandu-kktm

In [27]:
a = {
    "name":['sudan','bhandari'],
    "age":22,
    "address":"pokhara"
}
b=a.get('name')
b

['sudan', 'bhandari']